{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>Delete {{ view | to_model_verbose_name }}</title>
{% endblock %}
{% block content %}
    <div class="titles">
        <h1>{{ object | to_verbose_name }}</h1>
        <h2>{{ object.name }}</h2>
    </div>
    <form method="post" class="delete-form food-ingredient">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="buttons food-ingredient">
            <input type="submit" class="button button-delete" value="Delete">
        </div>
    </form>
{% endblock %}
