{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>{{ object.ingredient }} Detail View</title>
{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="display-1">{{ object | to_verbose_name | capfirst }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 padding">
                <div><p class="lead pt-3 fw-bold">Ingredient</p>{{ object.ingredient }}</div>
                <div><p class="lead pt-3 fw-bold">Date</p>{{ object.date }}</div>
                <div><p class="lead pt-3 fw-bold">Calories</p>{{ object.calories }}</div>
                <div><p class="lead pt-3 fw-bold">Carbs</p>{{ object.carbs }}</div>
                <div><p class="lead pt-3 fw-bold">Fats</p>{{ object.fats }}</div>
                <div><p class="lead pt-3 fw-bold">Protein</p>{{ object.protein }}</div>
                <div><p class="lead pt-3 fw-bold">Quantity</p>{{ object.quantity }}</div>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <div class="btn-group">
                    <a type="submit" class="btn btn-success"
                       href="{% url 'profiles:food_item-update' pk=object.pk %}">Update</a>
                    <a type="submit" class="btn btn-danger"
                       href="{% url 'profiles:food_item-delete' pk=object.pk %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
