{% extends "base.html" %}
{% block title %}
    <title>Add new food for today</title>
{% endblock %}
{% block content %}
    <div class="content text-center">
        <div class="col-md-6 offset-md-3 mx-auto padding">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset1.management_form }}
                <ul class="list-group list-group-flush">
                    {% for form in formset1 %}
                        <li class="list-group-item">
                            <div>
                                <p class="lead pt-3 fw-bold">{{ form.ingredient.label }}</p>
                                {{ form.ingredient }}
                            </div>
                            <div class="pb-5">
                                <p class="lead pt-3 fw-bold">{{ form.quantity.label }}</p>
                                {{ form.quantity }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="btn-group pt-5">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <a type="button" class="btn btn-outline-secondary"
                       href="{% url 'profiles:user-profile' %}">
                        Back to profile
                    </a>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-6 offset-md-6">

    </div>
{% endblock %}
