{% extends "base.html" %}
{% load project_tags %} }}
{% block title %}
    <title>Update {{ view | to_model_verbose_name | capfirst }}</title>
{% endblock %}
{% block content %}
    <div class="container-fluid text-center">
        <div class="col-md-6 offset-md-3 mx-auto d-flex justify-content-center padding">
            <form action="" method="POST">
                {% csrf_token %}
                <div>
                    <p class="lead pt-3 fw-bold">{{ form.label }}</p>
                    {{ form.food }}
                </div>

                <div class="buttons food-item pt-5">
                    <input type="submit" class="btn btn-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
