{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>{{ object.food.ingredient }}</title>
{% endblock %}
{% block content %}
    <div class="titles">
        <h1>Your Food</h1>
    </div>
    <div class="details">
        <p>Ingredient {{ object.food.ingredient }}</p>
        <p>Calories {{ object.food.calories }}</p>
        <p>Carbs {{ object.food.carbs }}</p>
        <p>Fats {{ object.food.fats }}</p>
        <p>Protein {{ object.food.protein }}</p>
        <p>Quantity {{ object.food.quantity }}</p>
    </div>
    <div class="buttons food-item">
        <input type="button"
               class="button button-update"
               value="Update"
               onclick="location.href=
                       '{% url 'profiles:food_storage-update' pk=object.pk %}'">
        <input type="button"
               class="button button-delete"
               value="Delete"
               onclick="location.href=
                       '{% url 'profiles:food_storage-delete' pk=object.pk %}'">
    </div>
{% endblock %}
