{% extends "base.html" %}
{% block title %}
    <title>Add new food for today</title>
{% endblock %}
{% block content %}
    <div class="content text-center">
        <div class="col-md-6 offset-md-3 mx-auto padding">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset1.management_form }}
                <table class="table table-borderless">
                    {% for form in formset1 %}
                        <tr>
                            <th scope="row" class=" content-justify-right ">
                                <div class="d-flex justify-content-end"><span
                                        class="badge bg-primary">{{ form.ingredient.label }}</span>
                                </div>
                            </th>
                            <td>
                                <div class="d-flex justify-content-start">{{ form.ingredient }}</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class=" content-justify-right ">
                                <div class="d-flex justify-content-end"><span
                                        class="badge bg-primary">{{ form.quantity.label }}</span>
                                </div>
                            </th>
                            <td>
                                <div class="d-flex justify-content-start">{{ form.quantity }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        </table>

                <div class="btn-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                    <a type="button" class="btn btn-outline-secondary"
                       href="{% url 'profiles:user-profile' %}">
                        Back to profile
                    </a>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-6 offset-md-6">

    </div>
{% endblock %}
