{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>{{ request.user.profile }} - Profile</title>
{% endblock %}
{% block content %}
    <div class="titles">
        <h1>{{ object.user.first_name }} {{ object.user.last_name }}</h1>
    </div>
    <div class="details">
        <p>Weight: {{ object.weight }}</p>
        <p>Height: {{ object.height }}</p>
    </div>
    <div class="details">
        {% if object.calorie_goal is str %}
            <p>Calories today: {{ object.calories_today }}</p>
            <p>{{ object.calories_left_in_goal }}</p>
        {% else %}
            <p>Calories today: {{ object.calories_today }} / {{ object.calorie_goal }}</p>
            {% with object.calories_left_in_goal as calories_left %}
                {% if calories_left >= 0 %}
                    <p>Calories left in goal: {{ calories_left | floatformat:-1 }}</p>
                {% else %}
                    <p>Calories over goal: {{ calories_left | abs | floatformat:-1 }}</p>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
    <div class="detail">
        <p>Carbs today: {{ object.carbs_today |  floatformat:-1 }}</p>
        <p>Fats today: {{ object.fats_today | floatformat:-1 }}</p>
        <p>Protein today: {{ object.protein_today |floatformat:-1 }}</p>
    </div>
    <div class="buttons">
        <input type="button"
               class="button button-update"
               value="Add new food"
               onclick="location.href=
                       '{% url 'profiles:user-form' %}'">
    </div>
    <div class="buttons">
        <input type="button"
               value="View Today's Food"
               onclick="location.href='{% url 'profiles:user-today-food_storage' %}'">
        <input type="button"
               value="View All Foods"
               onclick="location.href='{% url 'profiles:user-food_storage' %}'">
    </div>
    <div class="buttons profile">
    <input type="button"
               class="button button-update"
               value="Update profile"
               onclick="location.href=
                       '{% url 'profiles:user-update' %}'">
        <input type="button"
               class="button button-delete"
               value="Delete profile"
               onclick="location.href=
                       '{% url 'profiles:user-delete' %}'">
    </div>
{% endblock %}
