{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>{{ request.user.profile }} - Profile</title>
{% endblock %}
{% block content %}
    <div class="content-fluid text-center">
        <div class="col-md-6 offset-md-3">
            <h1 class="display-2">{{ object.user.first_name }} {{ object.user.last_name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 align-self-center">
                <table class="table table-borderless">
                    <tr>
                        <td>
                            <div class="d-flex justify-content-end"><span class="badge bg-primary">Weight</span>
                            </div>
                        </td>
                        <td class="content-justify-right">{{ object.weight | floatformat:-1 }} kg</td>
                        <td>
                            <div class="d-flex justify-content-end"><span class="badge bg-primary">Height</span>
                            </div>
                        </td>
                        <td class="content-justify-left">{{ object.height | floatformat:-1 }} cm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-5 mx-auto content-fluid my-2 rounded bg-primary">
                {% if object.calorie_goal is str %}
                    <div class="row">
                        <div class="col-sm-6 col-lg-7 offset-lg-3 mx-auto my-2 bg-light rounded">Calories
                            today: {{ object.calories_today }} kcal
                        </div>
                        <div class="col-sm-6 col-lg-7 offset-lg-3 mx-auto my-2 bg-light rounded">{{ object.calories_left_in_goal }}</div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-6 col-lg-7 offset-lg-3 mx-auto my-2 bg-light rounded">Calories today: <strong>{{ object.calories_today }} / {{ object.calorie_goal }}</strong></div>
                        {% with object.calories_left_in_goal as calories_left %}
                            {% if calories_left >= 0 %}
                                <div class="col-sm-6 col-lg-7 offset-lg-3 mx-auto my-2 bg-light rounded">Calories left in goal: <strong>{{ calories_left | floatformat:-1 }}</strong></div>
                            {% else %}
                                <div class="col-sm-6 col-lg-7 offset-lg-3 mx-auto my-2 bg-light rounded">Calories over goal: <strong>{{ calories_left | abs | floatformat:-1 }}</strong></div>
                            {% endif %}
                            </div>
                            <div class="progress">
                            {% percent object.calories_today object.calorie_goal as cal_proc %}
                            <div class="progress-bar progress-bar-striped progress-bar-animated
                                        {% if cal_proc < 70 %}
                                            bg-success
                                        {% elif cal_proc  < 95 %}
                                            bg-warning
                                        {% else %}
                                            bg-danger
                                        {% endif %}"
                                 role="progressbar"
                                 style="width: {{ cal_proc }}%"
                                 aria-valuenow="{{ object.calories_today }}" aria-valuemin="0"
                                 aria-valuemax="{{ object.calorie_goal }}">{{ cal_proc | floatformat:0 }}%
                            </div>
                        {% endwith %}
                        </div>
                    </div>
                {% endif %}
        </div>
        <div class="row text-center">
            <div class="col-md-5 my-2 mx-auto rounded bg-primary">
                <div class="row">
                    <div class="col-sm-4 col-lg-5 ms-auto me-1 my-2 bg-light rounded">Carbs today: <strong>{{ object.carbs_today |  floatformat:-1 }}</strong></div>
                    <div class="col-sm-4 col-lg-5 ms-1 me-auto me-lg-auto my-2 bg-light rounded">Fats today: <strong>{{ object.fats_today | floatformat:-1 }}</strong></div>
                    <div class="col-sm-4 col-lg-5 mx-auto my-2 offset-lg-3 bg-light rounded">Protein today: <strong>{{ object.protein_today |floatformat:-1 }}</strong></div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar"
                         style="width: {% percent object.carbs_today object.nutrition_today %}%"
                         aria-valuenow="{{ object.carbs_today }}" aria-valuemin="0"
                         aria-valuemax="{{ object.nutrition_today }}">Carbs
                    </div>
                    <div class="progress-bar bg-info" role="progressbar"
                         style="width: {% percent object.fats_today object.nutrition_today %}%"
                         aria-valuenow="{{ object.fats_today }}" aria-valuemin="0"
                         aria-valuemax="{{ object.nutrition_today }}">Fats
                    </div>
                    <div class="progress-bar bg-success" role="progressbar"
                         style="width: {% percent object.protein_today object.nutrition_today %}%"
                         aria-valuenow="{{ object.protein_today }}" aria-valuemin="0"
                         aria-valuemax="{{ object.nutrition_today }}">Protein
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6 offset-md-3">
            <a type="button"
               class="btn btn-primary"
               href="{% url 'profiles:user-form' %}">Add new food</a>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="btn-group" role="group">
                <a type="button"
                   class="btn btn-primary"
                   href="{% url 'profiles:user-today-food_storage' %}">View Today's Food</a>
                <a type="button"
                   class="btn btn-secondary"
                   href="{% url 'profiles:user-food_storage' %}">View All Foods</a>
            </div>
        </div>
        <div class="col-md-6 offset-md-3">
            <div class="btn-group" role="group">
                <a type="button" class="btn btn-info"
                   href="{% url 'profiles:user-update' %}">Update profile</a>
                <a type="button" class="btn btn-danger"
                   href="{% url 'profiles:user-delete' %}">Delete profile</a>
            </div>

        </div>
    </div>
{% endblock %}
