{% extends "base.html" %}
{% load project_tags %}
{% block content %}
    <div class="titles">
        <h1>{{ object | to_verbose_name }}</h1>
        <h2>{{ object.name }}</h2>
    </div>
    <div class="buttons food-category">
        <input type="submit"
               class="button button-update"
               value="Update"
               onclick="location.href=
                       '{% url 'food_storage:category-update' pk=object.pk %}'">
        <input type="submit"
               class="button button-delete"
               value="Delete"
               onclick="location.href=
                       '{% url 'food_storage:category-delete' pk=object.pk %}'">
    </div>
{% endblock %}