{% extends "base.html" %}
{% load project_tags %}
{% block title %}
    <title>{{ view | to_model_verbose_name }} List</title>
{% endblock %}
{% block content %}
    <div class="object-list food-category">
        <ul>
            {% for object in object_list %}
                <li>
                    <a href="{% url 'food_storage:category-detail' pk=object.pk %}">
                        {{ object.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="buttons food-category">
        <input type="button"
               class="button button-create"
               value="Create New"
               onclick="location.href='{% url 'food_storage:category-create'%}'">
    </div>
{% endblock %}
