{% extends "base.html" %}
{% block title %}
    <title>Profile Index</title>
{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item position-relative">
                <a href="{% url 'profiles:profile-list' %}"
                   class="stretched-link">
                    Profiles
                </a>
            </li>
            <li class="list-group-item position-relative">
                <a href="{% url 'profiles:food_item-list' %}"
                   class="stretched-link">
                    Food Items
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
