{% extends "base.html" %}
{% block title %}
    <title>Profile Index</title>
{% endblock %}
{% block content %}
    <div class="form">
        <form action="" method="POST">
            {% csrf_token %}
            {{ formset1.management_form }}
            {% for form in formset1 %}
                {{ form.as_p }}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="buttons">
    <button type="button" onclick="location.href='{% url 'profiles:profile-detail' pk=pk %}'" >Back to profile</button>
    </div>
{% endblock %}
