@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    color: #222;
}

/*--- Navigation --*/
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

img.img-fluid {
    max-height: 80vh
}
/*--- Link --*/
a {
    color: black;
    text-decoration: none;
}
a:hover, a:active {
    color: gray;
}
a:focus {
    color: darkgray;
}

/*--- Carousel --*/
.carousel-inner img {
    height: 32rem;
    object-fit: cover;
    width: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

/*--- Buttons ---*/
.btn-primary {
    background-color: #FFC107;
    color: black;
    border: 1px solid #FFC107;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #dca70f;
    color: black !important;
    border: 1px solid #dca70f;
}
.btn-primary:focus {
    background-color: #dca70f;
    color: black !important;
    border: 1px solid black;
    box-shadow: 0 0 0 0.25rem rgba(248,249,250,.5) !important;
}
.btn-outline-secondary, .btn-outline-secondary:focus {
    color: black;
    border-color: #FFC107;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active {
    color: black;
    background-color: white;
    border-color: #FFC107;
}
.shortcuts {
    width: 100%;
    margin-bottom: 2rem;
}
/*--- Label --*/
.bg-primary {
    background-color: #FFC107 !important;
    color: black;
    border: 1px solid #dca70f;
}

/*--- Forms --*/
input {
    color: black;
    border: 1px solid #dca70f;
}
select {
    max-width: 50vw;
}
/*--- Jumbotron --*/
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

/*--- Card --*/
.card {
    border-color: #dca70f;
}
/*Padding*/
.padding {
    padding-bottom: 2rem;
}
.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: .1rem;
}

/*Icons*/
.icon-html5 {
    color: #D24824;
}
.icon-css3 {
    color: #0A72BA;
}
.icon-bootstrap {
    color: #7952B3;
}
.icon-django {
    color: #2AA473;
}
.icon-postgres {
    color: #31648C;
}
.icon-aws {
    color: #FF9900;
}
.icon-heroku {
    color: #400099;
}
.fa-etsy {
    color: #F1641E;
}
.fa-linkedin {
    color: #2764AC;
}
.fa-github-square {
    color: #0D2534;
}
i, .svg-inline--fa, .iconify {
    font-size: 4em !important;
    margin: 1rem;
}
#shortcuts * svg {
    color: #782f8f;
}

/*Other*/

/*---Media Queries --*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('images/background/background3.jpg');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








