{% extends "base.html" %}
{% block title %}
    <title>Main Index</title>
{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item position-relative">
                <a class="stretched-link" href="{% url 'food_storage:index' %}">Food Storage</a>
            </li>
            <li class="list-group-item position-relative">
                <a class="stretched-link" href="{% url 'profiles:index' %}">Profiles</a>
            </li>
        </ul>
    </div>
{% endblock %}
