{% extends "base.html" %}
{% load project_tags %} }}
{% block title %}
    <title>Create {{ view | to_model_verbose_name | capfirst }}</title>
{% endblock %}
{% block content %}
    <div class="content text-center">
        <div class="col-md-8 offset-md-2 padding d-flex justify-content-center">
            <form method="post" class="create-form food-item">
                {% csrf_token %}
                <p class="lead pt-3">{{ form.user.label }}</p>
                {{ form.user }}
                <p class="lead pt-3">{{ form.food.label }}</p>
                {{ form.food }}
                <div class="col-md-8 pt-5">
                    <input type="submit" class="btn btn-primary" value="Create">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
