{% extends "base.html" %}
{% load project_tags %} }}
{% block title %}
    <title>Update {{ view | to_model_verbose_name | capfirst }}</title>
{% endblock %}
{% block content %}
    <div class="content-fluid text-center ">
        <div class="row padding">
            <h1 class="display-1">{{ object | to_verbose_name | capfirst }}</h1>
            <h2 class="display-5">{{ object.user }}</h2>
            <p class="lead">{{ object.food }}</p>
        </div>
        <div class="col-md-8 offset-md-2 padding d-flex justify-content-center">
            <form method="post" class="update-form food-category">
                {% csrf_token %}
                <p class="lead pt-3">{{ form.user.label }}</p>
                {{ form.user }}
                <p class="lead pt-3">{{ form.food.label }}</p>
                {{ form.food }}
                <div class="col-md-6 pt-5">
                    <input type="submit" class="btn btn-success" value="Update">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
