{% extends "base.html" %}
{% load project_tags %} }}
{% block title %}
    <title>Update {{ view | to_model_verbose_name }}</title>
{% endblock %}
{% block content %}
    <div class="titles">
        <h1>{{ object | to_verbose_name }}</h1>
        <h2>{{ object.user }}</h2>
        <h2>{{ object.date }}</h2>
    </div>
    <form method="post" class="update-form food-item">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="buttons food-item">
            <input type="submit" class="button button-update" value="Update">
        </div>
    </form>
{% endblock %}
